.main-container {
    width: 100%;
    max-width: 1440px;
    height: 95vh;
    background: rgb(197, 195, 195);
    margin: 0 auto;
}

.header {
    width: 100%;
    background: rgb(255, 79, 79);
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    margin-right: -5rem;
}

ul {
    display: flex;
    justify-content: space-between;

    li {
        margin-right: 5rem;
    }
}

h1 {
    font-size: 40px;
    color: #544;
}

.active-link {
    color: #444;
}